@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to</h2>
    <h1>LIST IT!</h1>
    <span>The best grocery list app on the world wide web.</span>
    <a class="button">@Html.ActionLink("Create A List", "Create", "GroceryItems")</a>
</div>